# ======================
# PYTHON / DJANGO
# ======================
backend/env/
venv/
__pycache__/
*.pyc
db.sqlite3

# ======================
# ANGULAR
# ======================
frontend/node_modules/
frontend/dist/

# ======================
# SYSTEM
# ======================
.DS_Store
.vscode/
.idea/