# ======================
# PYTHON / DJANGO
# ======================
backend/env/
venv/
__pycache__/
*.pyc
db.sqlite3
.env          
*.env         

# ======================
# ANGULAR
# ======================
frontend/node_modules/
frontend/dist/

# ======================
# SYSTEM
# ======================
.DS_Store
.vscode/
.idea/
# ======================
# ANGULAR
# ======================
frontend/GRH/node_modules/
frontend/GRH/.angular/
frontend/GRH/dist/
